/* CLASSES TO MAKE MODAL WORK */
.hidden {
  display: none;
}
.model {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: rgb(255, 255, 255);
  padding: 5rem;
  border-radius: 2rem;
  box-shadow: 0rem 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
